body {
	background: gray;
}
.code {
	text-align: left;
	padding-left: 5px;
	font-family: courier;
	background: rgb(180,180,180);
	overflow: auto;
}
.text {
	text-align: center;
}
.knobContainers {
	margin: auto;
	margin-top: 45px;
}
.valueContainer {
	width: 200px;
	height: 50px;
	margin: auto;
	background: #000;
}
.value {
	line-height: 50px;
	font-size: 3em;
	color: red;
}
.select {
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;          /* Likely future */  
  	cursor: default;    
}
.left-align {
	text-align: left;
}
.borders {
	height: 400px;
	border: 1px solid #000; 
}